.no-shadow-footer{
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}
ion-avatar.avatar-square {
  --border-radius: 4px;
}

.md .md-only {
  display: block;
}

.ios .md-only {
  display: none;
}

.ios .ios-only {
  display: block;
}

.md .ios-only {
  display: none;
}

ion-chip{
  font-size: 0.8rem;
}

.property-avatar {
  height: 4rem !important;
  width: 4rem !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.group-avatar {
  height: 2.5rem !important;
  width: 2.5rem !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.d-flex {
  display: flex !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.receipt-image{
  height: 6rem !important;
} 